.u-section-1 .u-sheet-1 {min-height: 3088px}
.u-section-1 .u-text-1 {font-size: 3rem; margin: 30px 0 0}
.u-section-1 .u-btn-1 {border-style: none}
.u-section-1 .u-text-2 {line-height: 2.5; font-size: 1.5rem; margin: 40px auto 0 0}
.u-section-1 .u-image-1 {height: 396px; margin: 50px auto 0 0}
.u-section-1 .u-text-3 {font-size: 1.25rem; margin: 90px 0 50px} 

@media (max-width: 1199px){ .u-section-1 .u-image-1 {height: 326px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 2494px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-image-1 {height: 250px; margin-bottom: 40px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 2720px}
.u-section-1 .u-text-1 {font-size: 1.875rem}
.u-section-1 .u-image-1 {height: 186px; width: 539px; margin-left: auto; margin-right: auto; margin-bottom: 30px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1885px}
.u-section-1 .u-text-1 {font-size: 1.25rem; margin-top: 25px}
.u-section-1 .u-text-2 {font-size: 1rem; margin-top: 30px; margin-right: 0}
.u-section-1 .u-image-1 {height: 118px; margin-top: 20px; margin-right: initial; margin-left: initial; width: auto} }