.u-section-1-1 .u-sheet-1 {min-height: 524px}
.u-section-1-1 .u-text-1 {margin: 49px 0 0}
.u-section-1-1 .u-text-2 {margin: 26px 0 0}
.u-section-1-1 .u-text-3 {margin: 14px 0 0}
.u-section-1-1 .u-text-4 {margin: 26px 0 0}
.u-section-1-1 .u-text-5 {margin: 14px 0 60px} 

@media (max-width: 1199px){ .u-section-1-1 .u-text-5 {width: 356px} }

@media (max-width: 575px){ .u-section-1-1 .u-text-3 {margin-left: 258px}
.u-section-1-1 .u-text-5 {width: 340px} }.u-section-1-2 .u-sheet-1 {min-height: 524px}
.u-section-1-2 .u-text-1 {margin: 49px 0 0}
.u-section-1-2 .u-image-1 {width: 983px; height: 341px; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-1-2 .u-text-1 {width: 0}
.u-section-1-2 .u-image-1 {width: 940px; height: 327px} }

@media (max-width: 991px){ .u-section-1-2 .u-image-1 {width: 720px; height: 250px} }

@media (max-width: 767px){ .u-section-1-2 .u-image-1 {width: 540px; height: 188px} }

@media (max-width: 575px){ .u-section-1-2 .u-image-1 {width: 340px; height: 118px} }.u-section-1-3 .u-sheet-1 {min-height: 524px}
.u-section-1-3 .u-text-1 {margin: 49px 0 0}
.u-section-1-3 .u-custom-html-1 {min-height: 232px; margin: 58px 0 60px} 

@media (max-width: 1199px){ .u-section-1-3 .u-custom-html-1 {height: auto; margin-right: initial; margin-left: initial} }.u-block-553d-5 {position: absolute; width: 72px; height: 3px; top: auto; bottom: 20px; margin-bottom: 0}
.u-block-553d-3 {position: absolute; left: calc(((100% - 1140px) / 2)  + -80px); width: 65px; height: 65px; right: auto; margin-top: 0; margin-bottom: 0}
.u-block-553d-4 {position: absolute; width: 65px; height: 65px; left: auto; right: calc(((100% - 1140px) / 2)  + -77px); margin-top: 0} 

@media (max-width: 1199px){ .u-block-553d-3 {left: calc(((100% - 940px) / 2)  + -66px)}
.u-block-553d-4 {right: calc(((100% - 940px) / 2)  + -63px)} }

@media (max-width: 991px){ .u-block-553d-3 {left: calc(((100% - 720px) / 2)  + -51px)}
.u-block-553d-4 {right: calc(((100% - 720px) / 2)  + -48px)} }

@media (max-width: 767px){ .u-block-553d-3 {left: calc(((100% - 540px) / 2)  + -38px)}
.u-block-553d-4 {right: calc(((100% - 540px) / 2)  + -36px)} }

@media (max-width: 575px){ .u-block-553d-3 {left: calc(((100% - 340px) / 2)  + -24px)}
.u-block-553d-4 {right: calc(((100% - 340px) / 2)  + -23px)} }