.u-section-1-1 .u-sheet-1 {min-height: 524px}
.u-section-1-1 .u-text-1 {margin: 49px 0 0}
.u-section-1-1 .u-custom-html-1 {min-height: 339px; margin: 20px 0 0}
.u-section-1-1 .u-icon-1 {height: 35px; width: 35px; margin: -58px -64px 0 auto} 

@media (max-width: 1199px){ .u-section-1-1 .u-custom-html-1 {height: auto; margin-right: initial; margin-left: initial} }.u-section-1-2 .u-sheet-1 {min-height: 524px}
.u-section-1-2 .u-text-1 {margin: 50px 0 0}
.u-section-1-2 .u-custom-html-1 {min-height: 343px; margin: 20px 0 50px} 

@media (max-width: 1199px){ .u-section-1-2 .u-custom-html-1 {height: auto; margin-right: initial; margin-left: initial} }.u-block-553d-5 {position: absolute; width: 72px; height: 3px; top: auto; bottom: 20px; margin-bottom: 0}
.u-block-553d-3 {position: absolute; left: calc(((100% - 1140px) / 2)  + -80px); width: 65px; height: 65px; right: auto; margin-top: 0; margin-bottom: 0}
.u-block-553d-4 {position: absolute; width: 65px; height: 65px; left: auto; right: calc(((100% - 1140px) / 2)  + -77px); margin-top: 0} 

@media (max-width: 1199px){ .u-block-553d-3 {left: calc(((100% - 940px) / 2)  + -66px)}
.u-block-553d-4 {right: calc(((100% - 940px) / 2)  + -63px)} }

@media (max-width: 991px){ .u-block-553d-3 {left: calc(((100% - 720px) / 2)  + -51px)}
.u-block-553d-4 {right: calc(((100% - 720px) / 2)  + -48px)} }

@media (max-width: 767px){ .u-block-553d-3 {left: calc(((100% - 540px) / 2)  + -38px)}
.u-block-553d-4 {right: calc(((100% - 540px) / 2)  + -36px)} }

@media (max-width: 575px){ .u-block-553d-3 {left: calc(((100% - 340px) / 2)  + -24px)}
.u-block-553d-4 {right: calc(((100% - 340px) / 2)  + -23px)} }